@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    margin:0px;
    padding:0px
}
.click{
    cursor: pointer;
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.favBTN{
    position: relative;
    margin-left: 500px;
    /* top: 100px;
    right:20%; */
    /* flex: auto;
    justify-content: end; */
}
.hr1 {
    display: block;
    position: relative;
    margin: 8px auto;
    width: 100%;
    font-size: 1px;
    clear: both;
    border: 1px solid #E8E8E8;
}
.hr2{
    width: 1200px;
    border: 1px solid #E8E8E8;
    margin-top: 30px ;
}
.header{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 1250px;
    height: 34px;
    left: 360px;
    top: 10px;
}
.title{
    display: flex;
    height: 34px;
    width: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: rgba(68, 136, 153, 1);
}
.frame2{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex:auto;
    margin-right: 10px;
    text-align: center ;
    font-weight: 400;
    font-size: 16px;
}
.top{
    display: flex;
    width: 1200px;
    /* height: 400px; */
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}
.where{
    margin-top: 15px;
    margin-bottom: 20px;
}
.brief{
    width: 600px;
    height: 400px;
}
.poster{
    position: relative;
    display: flex;
    flex: auto;
    width: 280px;
    border-radius: 5px;
    
}
.slider{
    position: absolute;
    width: 540px;
    height: 400px;
}
ul.slides{
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 540px;
    height: 400px;
    border-radius: 5px;
    background-color: #757575;
    overflow: hidden;
}
li.slides{
    float: left;
    margin: 0;
    padding: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;    
    justify-content: center;
    align-items: center;
    display: none;
}
img{
    /* width: auto; */
    /* height: 100%; */
    margin: auto;
    /* object-fit: cover;
    justify-content: center;
    align-items: center; */
}
ol{
    display: flex;
    position: absolute;
    left: 15%;
    top: 95%;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 360px;
    height: 12px;
    opacity: 0.75;
}

.dot input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #FFFFFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
    cursor: none;
}

.dot input[type='radio']:checked:after {
    background-color: #000000;
}
span.left{
    position: absolute;    
    right: 92%;    
    top:50%;
    opacity: 0.75;
    width: 36px;
    height: 36px;
    background-image: url(btn_leftArrow.png);
    cursor: pointer;
    z-index: 20;
}
span.right{
    position: absolute;    
    right:12%;
    top:50%;
    opacity: 0.75;
    width: 36px;
    height: 36px;
    background-image: url(btn_rightArrow.png);
    background-position: 0 0;
    cursor: pointer;
    z-index: 20;
}
.movie_date{
    display: block;
    position: relative;
    margin: 15px auto;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    height: 30px;
    min-width: 75px;
    padding-left: 6px;
}

.frame{
    display: block;
    position: relative;
    width: 80%;
    margin: 10px auto;
}
/* .screening{

    margin-bottom: 10px;
    width: 50%;
    margin: 10px auto;
} */
#screening {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
#screening td, #screening th {
    border: 1px solid #ddd;
    padding: 8px;
}
  
#screening tr:nth-child(even){background-color: #f2f2f2;}
  
#screening tr:hover {background-color: #ddd;}
  
#screening th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #068d45de;
    color: white;
}
.error{
    width: 50%;
    margin: auto;
    font-size: large;
    color: #ff4d00;
    text-align: center;
}
.name{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #666666;
    margin-top: 25px;
}
.name_EN{
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    display: flex;
    align-items: center;
    color: #666666;

    margin-bottom: 25px;
}
.info{
    height: 480px;
    margin-block-start: 0em;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: block;
    position: relative;
    align-items: center; 
    color: #666666;
    text-align: start;
    /* overflow-wrap: break-word;
    word-wrap: break-word; */
    overflow: auto;
    /* white-space: nowrap; */
    /* text-overflow: clip; */
}
.buy{
    padding-top: 10px;
    width: 600px;
    height: 300px;
    background: #E8E8E8;
    border-radius: 5px;
}
.buy_word{
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 10px;
}
.line1{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;

    align-items: center;
    color: #666666;
}
.line2{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;

    align-items: center;
    margin-top: 15px;
    color: #666666;
}
.date{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;

    align-items: center;
    margin-top: 15px;
    color: #666666;

}
.date input[type="date"]{
    border: 2px solid white;
    height: 35px;
}
.time{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;

    align-items: center;
    margin-top: 25px;
    color: #666666;
}
.money{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    color: #666666;
    margin-bottom: auto;
}
.moneytext{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #666666;
}
/* .moneytext2500{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #666666;
    display: none;
} */
.time input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #FFFFFF;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

.time input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #448899;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
label{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 13px;
    align-items: center;
    color: #666666;
}
button.order{

    flex-direction: row;
    align-items: flex-start;
    height: 36px;
    padding: 10px 20px;
    background: #448899;
    border-radius: 5px;
    border-width: 0px;

    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    color:#FFFFFF;
    margin-top: 40px;
    margin-bottom: 50px;
}
.infos{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.vanilla{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    display: flex;
    align-items: center;
    color: #666666;
    width: 1180px;
    height: 32px;
}
.getInfo{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #666666;
}
.bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #e7691b;
    position: relative;
    width: 100%;
    height: 104px;

    font-weight: 700;
    font-size: 16px;
    line-height: 13px;

    justify-content: center;
    color: #FFFFFF;
    margin-top: 120px;
}

nav {
    background: #e7691b;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 100px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
}

/* Styling the logo */
nav .logo {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -1px;
}

/* Styling all the nav items as a whole */
nav .nav-items {
    display: flex;
    flex: auto;
    text-align: right;
    padding: 0 0 0 200px;
    margin-right: 30px;
    justify-content: flex-end;
}

/* Styling the list items in the nav tag */
nav .nav-items li {
    list-style: none;
    padding: 0 10px;
}

/* Styling each list items */
nav .nav-items li a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

/* Setting the hover colour on the list items*/
  
nav .nav-items li a:hover {
    color: #19191b;
}
  
nav .searchbar {
    position: relative;
    margin-left: auto;
    margin-right: 200px;
    display: flex;
}

/* Styling the search box where the 
    input would be given */
nav .searchbar input[type="text"] {
    border: 0;
    padding: 0;
    width: 250px;
    height: 35px;
    border-radius: 3px;
    transition: all 0.3s ease;
}

/* Styling the search bar icon */
nav .searchbar .icon {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    width: 35px;
    height: 100%;
    background: none;
    border-radius: 3px;
    color: #fff;
    transition: all 0.5s 0.3s ease;
}
  
nav .searchbar .icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
  
nav .searchbar .icon.active {
    background: #062333;
    transition: all 0.3s ease;
}
  
nav .searchbar input[type="text"].active {
    width: 250px;
    padding: 0 10px;
    transition: all 0.5s 0.2s ease;
}

::placeholder{
    color: #757575;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    position: relative;
    display: flex;
    align-items: center;
    left: 5px;
    bottom: auto;
}

@media screen and (min-width: 360px) and (max-width:1199px) {
    .header{
        position: relative;
        width: 100%;
        left: 0px;
        top: 2px;
    }
    .title{
        width: 150px;
        height: 34px;
        left: 10px;
        top: 10px;;
    }
    .slider{
        
        width: 100%;
    }
    .top{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 780px;
        margin-left: 0;
        margin-right: 0;
    }
    .poster{
        flex: auto;
        margin-right: 0;
        width: 95%;
    }
    ul.slides{
        width: 100%;
    }
    ol{
        width: 90%;
        left: 5%;
    }
    span.left{
        left: 2%;
    }
    span.right{
        right: 2%;
    }

    .brief{
        flex: auto;
        justify-content:center;
        align-items: center;
        width: 100%;
        height: 390px;
    }

    .name{
        margin-top: 20px;
        margin-left: 5%;
    }
    .where{
        margin-left: 5%;
    }
    .buy{
        width:90%;
        margin-left: 5%;
    }
    .line2{
        line-height: 23px;
    }
    button.order{
        margin-top: 25px;
    }

    .infos{
        justify-content:center;
        align-items: center;
        width:90%;
    }
    .hr2{
        margin-top: 50px;
        width: 90%;
    }
    .vanilla{
        width: 80%;
    }
}