<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieLover</title>
    <link rel="stylesheet" href="layout/index/layout.css">
</head>
<body>

    <div class="welcome">
        <div class="front">
            <div class="slogan">
                <div>
                    <div style="font-weight: 700;
                    font-size: 28px;
                    line-height: 24px;">
                    輕鬆查詢台北戲院場次
                    </div>
                    <div style="font-weight: 400;
                    font-size: 16px;
                    line-height: 13px;
                    margin-top: 20px;">
                    立即查找喜歡的電影場次吧！
                    </div>
                </div>
            </div>

            <div class="search">
                        
                <input tpye="text" id="searchText" placeholder="輸入電影名稱查詢"
                    style="background:#FFFFFF;width: 400px;height: 46px;  padding: 0px;border-width: 0px;border-radius: 5px 0px 0px 5px;">
                </input>
            
                <button  onclick="search();" style="
                    background: #448899;width: 60px;height: 46px;left: 400px;border-radius: 0px 5px 5px 0px;border-width: 0px;">
                    <img src="/layout/index/icon_search.png" class="icon" ></img>
                </button>
                        
            </div>
        </div>

        <img class="weclomeImg"></img>
    </div>
    
    <div class=frame id=0 style="margin-top: 50px;"></div>
    <div id="nothing" style="text-align: center;"></div>

    <div class="bottom">
        COPYRIGHT © 2021 台北一日遊
    </div>
    <div id="listEnd"></div>

    <script type="text/javascript">
        let nextPage=0;
        let callNext=true;
        function getData(){
            console.log(nextPage);
            url=window.location.href+"api/movies?page="+nextPage;
            if (nextPage==null){
                return "STOP";
            }
            if (callNext == true){
                fetch(url, {method:"GET"})
                .then((response) => {
                    return response.json(); 
                })
                .then((data) => {
                    let movies=data.data;
                    let poster_urls = [];
                    let data_ids = [];
                    let movies_name_ZH = [];
                    let movies_name_EN = [];
                    for (let movie in movies){
                        if (movies[movie].poster_url != null){
                            let poster_url =movies[movie].poster_url;
                            poster_urls.push(poster_url);
                            let data_id =movies[movie].data_id;
                            data_ids.push(data_id);
                            let movie_name_ZH =movies[movie].movie_name_ZH;
                            movies_name_ZH.push(movie_name_ZH);
                            let movie_name_EN =movies[movie].movie_name_EN;
                            movies_name_EN.push(movie_name_EN)
                        }
                    }
                    
                    for (i=0;i<poster_urls.length;i++){
                        let spotList=document.getElementById('0');
                        let newDiv=document.createElement('div');
                        spotList.appendChild(newDiv);
                        newDiv.className='pic';
                        
                        let url = document.createElement("a");
                        url.setAttribute('href',window.location.href+'movie/'+data_ids[i])
                        newDiv.appendChild(url);

                        let image = document.createElement('img');
                        url.appendChild(image);
                        let objectURL =poster_urls[i];
                        image.src = objectURL;        

                        let word = document.createElement('div');
                        word.style.cssText="font-weight: 700;font-size: 16px;line-height: 13px;margin-top: 15px;margin-left: 15px;margin-bottom:0px;"
                        newDiv.appendChild(word);  
                        let name_ZH = movies_name_ZH[i];
                        let ZHnameNode =document.createTextNode(name_ZH);
                        word.appendChild(ZHnameNode);
                        let flex=document.createElement('div');
                        flex.style.cssText="display: flex;"
                        word.appendChild(flex);

                        let left = document.createElement('div');
                        left.style.cssText="font-weight: 400;font-size: 16px;line-height: 13px;margin-top: 15px;margin-bottom: 15px;flex: auto;text-align:left;"
                        flex.appendChild(left);

                        let name_EN = movies_name_EN[i];
                        let ENnameNode = document.createTextNode(name_EN);
                        left.appendChild(ENnameNode);

                        // let right=document.createElement('div');
                        // right.style.cssText="font-weight: 400;font-size: 16px;line-height: 13px;margin-top: 15px;margin-bottom: 15px;margin-right:10px;text-align:right;flex: auto;;"
                        // flex.appendChild(right);
                        // let cateName=allcates[i];
                        // let cateNode=document.createTextNode(cateName);
                        // right.appendChild(cateNode);         
                    }                
                    nextPage=data.nextPage; 
                    console.log(nextPage);
                    callNext=false;
                    console.log(callNext);
                })
            
            .catch((err) => {
                console.log('錯誤:', err);
            });
            }
        }




        
            let listEnd=document.getElementById('listEnd');
            let options={
                root:null,
                rootMargin:"0px 0px 50px 0px",
                threshold:[0]
            };
            let callback = ([entry])=>{
                let searchText=document.getElementById("searchText").value;
                if(entry && entry.isIntersecting && searchText){
                    search();
                }
                if (entry && entry.isIntersecting){
                    getData();
                }
                callNext = true;
            }
            let observer=new IntersectionObserver (callback,options);
            observer.observe(listEnd);
    </script>
</body>
</html>