<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta name="google-signin-client_id" content="228222878387-7507oej745t31for58nm1mptiigmhbu1.apps.googleusercontent.com"> -->
    <title>Movielover</title>
    <link rel="stylesheet" href="layout/login/layout.css">
</head>
<body onload="checkAPI()">
    <nav id="navbar">
        <div class="logo">
            <a href="/" style="text-decoration:none;color:white;">Movie Lover</a>
        </div>
    </nav>

    <div class="background"></div>
        <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
    <div class="form" id="login">
        <div class="title">登入</div>
        <div class="subtitle"></div>
        <div class="input-container ic2">
          <input id="email" class="input" type="text" placeholder=" " />
          <div class="cut cut-short"></div>
          <label for="email" class="placeholder">Email</label>
        </div>
        <div class="input-container ic2">
          <input id="password" class="input" type="password" placeholder=" " />
          <div class="cut"></div>
          <label for="lastname" class="placeholder">密碼</label>
        </div>
        <div id="loginErrorText" class="messageText"></div>

        <div onclick="signup()" class="switch">
            沒有帳號？請點此註冊</div>
        <input onclick="loginAPI()" type="submit" class="submit" value="登入">
    </div>

    <div class="form" id="signup" style="display: None;">
        <div class="title">註冊</div>
        <div class="subtitle"></div>
        <div class="input-container ic1">
          <input id="signupName" class="input" type="text" placeholder=" " />
          <div class="cut"></div>
          <label for="firstname" class="placeholder">暱稱</label>
        </div>
        <div class="input-container ic2">
          <input id="signupEmail" class="input" type="text" placeholder=" " />
          <div class="cut cut-short"></div>
          <label for="email" class="placeholder">Email</label>

        </div>
        <div class="input-container ic2">
          <input id="signupPassword" class="input" type="password" placeholder=" " />
          <div class="cut"></div>
          <label for="lastname" class="placeholder">密碼</label>
        </div>
        <div id="signupErrorText" class="messageText"></div>
    
        <div onclick="login()" class="switch">已有帳號？請點此登入</div>
        <input  onclick="signupAPI()" type="submit" class="submit" value="註冊">    
    </div>


    <div class="bottom">
        Movie Lover
    </div>
</body>

<script>
    let page = window.location.href.split('login');
    let signupForm = document.getElementById('signup');
    let loginForm = document.getElementById('login');
    let messageText = document.getElementById("messageText");
    let signinErrorText = document.getElementById("signinErrorText");
    
    function signup(){
        signupForm.style.display = 'block';
        loginForm.style.display = 'none';
    }

    function login(){
        signupForm.style.display = 'none';
        loginForm.style.display = 'block';
    }

    function loginAPI(){
            let email = document.getElementById("email").value;
            let password = document.getElementById("password").value;
            console.log(email);
            if (email =="" | password ==""){
                console.log("error");
                loginErrorText.innerText = "未填寫完整！";
                return
            }
            url="/api/member"
            fetch(url, {
                body:JSON.stringify({
                    "email":email,
                    "password":password
                }),
                headers: {
                'Content-Type': 'application/json'
                },
                method: 'PATCH'
            })
            .then((response) => {
            console.log(response);
            return response.json(); 
            })
            .then((jsonData) => {
            if (jsonData.ok==true){
                console.log(jsonData.ok);
                loginErrorText.innerText = "";
                window.location.href = page[0];
            }
            else{
                loginErrorText.innerText = "";
                let loginError = document.createTextNode("帳號或密碼輸入錯誤！");
                loginErrorText.appendChild(loginError);
            }
            })
            .catch((err) => {
                console.log('錯誤:', err);
            });
        }

    function signupAPI(){
        let signupEmail = document.getElementById("signupEmail").value;
        let signupPassword = document.getElementById("signupPassword").value;
        let signupName = document.getElementById("signupName").value;
        console.log(signupEmail);
        url="/api/member"
        fetch(url, {
            body:JSON.stringify({
                "name":signupName,
                "email":signupEmail,
                "password":signupPassword
            }),
            headers: {
            'Content-Type': 'application/json'
            },
            method: 'POST'
        })
        .then((response) => {
            console.log(response);
            return response.json(); 
        })
        .then((jsonData) => {
            if (jsonData.ok==true){
                console.log(jsonData.ok);
                signupErrorText.innerText = ""
                let done = document.createTextNode("已成功註冊！");
                signupErrorText.appendChild(done);

            }
            else{
                signupErrorText.innerText = ""
                let fail = document.createTextNode(jsonData.message);
                signupErrorText.appendChild(fail);

            }
        })
        .catch((err) => {
            console.log('錯誤:', err);
        });
    }

    function checkAPI(){
        url="/api/member"
        fetch(url, {method: 'GET'})
        .then((response) => {
            console.log(response);
            return response.json(); 
        })
        .then((jsonData) => {
        if (jsonData.data != null){
            window.location.href="/";
        }
        })
        .catch((err) => {
            console.log('錯誤:', err);
        });
    }
</script>
<!-- <script src="https://apis.google.com/js/platform.js" async defer></script>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script>
  function onSignIn(googleUser) {
    var id_token = googleUser.getAuthResponse().id_token;
    var profile = googleUser.getBasicProfile();
    console.log('ID: ' + profile.getId()); // Do not send to your backend! Use an ID token instead.
    console.log('Name: ' + profile.getName());
    console.log('Image URL: ' + profile.getImageUrl());
    console.log('Email: ' + profile.getEmail()); // This is null if the 'email' scope is not present.
    $.ajax({
      type: "POST",
      url: '/google_sign_in',
      data: JSON.stringify({'id_token': id_token}),
      success: function() {
        console.log('login success')
      },
      dataType: 'json',
      contentType:"application/json",
    });
  }
</script> -->
</html>