<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieLover 場次表</title>
    <link rel="stylesheet" href="/layout/movie/layout.css">
</head>
<body onload="getMovie()">
    <div class="top">
        <div class="poster" id="poster"></div>
        <div class="brief">
            <div id="name_ZH" class="name"></div>
            <div id="name_EN" class="name_EN"></div>
        </div>
    </div>
    <div class="infos">
        <div id="intro" class="getInfo" style="margin-top: 50px;"></div>
    </div>
    
    <div class=frame id=0 style="margin-top: 50px;"></div>

</body>

<script type="text/javascript">
    // let yahoo_id = "";
    // let ambassador_id = "";
    let showtime_id = "";
    let page =  (window.location.href.split('/'));
    // let page = window.location.href.split('/m');
    function getMovie(){
        url=page[0]+'//'+page[2]+"/api/"+page[3]+'/'+page[4];
        fetch(url, {method:"GET"})
        .then((response) => {
            return response.json(); 
        })
        .then((data) => {
            console.log(data)
            let movies=data.data;
            let poster_url = movies.poster_url;
            let data_id = movies.data_id;
            let movie_name_ZH = movies.movie_name_ZH;
            let movie_name_EN = movies.movie_name_EN;

            let poster = document.getElementById("poster");
            let image = document.createElement('img');
            poster.appendChild(image);
            let objectURL = poster_url;
            image.src = objectURL;   

            let name_ZH = document.getElementById("name_ZH");
            let name_ZH_text = document.createTextNode(movie_name_ZH);
            name_ZH.appendChild(name_ZH_text);

            let name_EN = document.getElementById("name_EN");
            let name_EN_text = document.createTextNode(movie_name_EN);
            name_EN.appendChild(name_EN_text);

            yahoo_id = movies.yahoo_id;
            ambassador_id = movies.ambassador_id;
            showtime_id = data.data.showtime_id;
            console.log(showtime_id);
        })
        .catch((err) => {
            console.log('錯誤:', err);
        });
        // console.log(showtime_id);
        getYahoo();
    }
// 　  var Today=new Date();
// 　  document.write("今天日期是 " + Today.getFullYear()+ " 年 " + (Today.getMonth()+1) + " 月 " + Today.getDate() + " 日");
    function getYahoo(){
        url=page[0]+'//'+page[2]+"/api/"+page[3]+'Screening'+'/'+page[4];
        console.log(url);
        fetch(url, {method:"GET"})
        .then((response) => {
            return response.json(); 
        })
        .then((data) => {
            console.log(data.data);
            console.log(data.error);
            if (data.error == true){
                let data = document.getElementById('0');
                let newDiv=document.createElement('div');
                data.appendChild(newDiv);
                newDiv.className = "error";
                
                let err = document.createTextNode("查無場次！");
                newDiv.appendChild(err);
            }
            else{
                let screenings = data.data;
                console.log(screenings);
                console.log(screenings.movie_name_ZH);
                let dates = [];
                let movie_names = [];
                let theaters = [];
                let times = [];
                let types = [];
                for (let screening in screenings){
                    let date = screenings[screening].date;
                    let MandD = date.split("2022-");
                    dates.push(MandD[1]);
                    // let movie_name = screenings[screening].movie_name;
                    // movie_names.push(movie_name);
                    let theater = screenings[screening].theater;
                    theaters.push(theater);
                    let time = screenings[screening].time;
                    times.push(time);
                    let type = screenings[screening].type;
                    types.push(type);
                }

                for (i=0 ; i<theaters.length ; i++){

                    let data=document.getElementById('0');
                    let newDiv=document.createElement('div');
                    data.appendChild(newDiv);
                    newDiv.className = "screening"
                    let date = dates[i];
                    let theater = theaters[i];
                    let time = times[i];
                    let type = types[i];

                    let dateText = document.createTextNode(date+" "+theater+" "+time+" "+type);
                    newDiv.appendChild(dateText);
                }
            }
        })
        .catch((err) => {
            console.log('錯誤:', err);
        });
    }
    
    showtime_theater_id = [];

    function getShowtime(){
        url = 'https://capi.showtimes.com.tw/1/events/listForProgram/'+10701+'?date=2022-05-21'
        fetch(url, {method:"GET"})
            .then((response) => {
                return response.json();
            })
            .then((data) =>{
                let theaterslist = data.payload;
                // console.log(data.payload.events);
                // console.log(data.payload.venues);
                for (let i in theaterslist.venues){
                    if (theaterslist.venues[i].name =="台北今日秀泰影城")
                    showtime_theater_id.push(theaterslist.venues[i].id);
                }
                // theaterslist[i].venueId
                for (let i in theaterslist.events){
                    if (theaterslist.events[i].venueId == 971){
                    console.log(theaterslist.events[i]);
                    console.log(theaterslist.events[i].startedAt);

                    let play = document.getElementById('intro');
                    let eachplay = document.createElement("div");
                    eachplay.className = 'getInfo';
                    let playtime = document.createTextNode('今日秀泰 '+ theaterslist.events[i].startedAt);
                    eachplay.appendChild(playtime);
                    play.append(eachplay);
                    }
                }
            })
            .catch((err) => {
                console.log('錯誤:', err);
            });
    }

</script>

</html>