<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MovieLover 場次表</title>
    <link rel="stylesheet" href="/layout/movie/layout.css">
</head>
<body id='body' onload="getMovie(),nowDate(),checkAPI()">
    <nav id="navbar">
        <div class="logo">
            <a href="/" style="text-decoration:none;color:white;">Movie Lover</a>
        </div>
        <div class="nav-items">
            <a id="favorite" href="/favorite" class="click" style="display: none;">收藏</a> 
            <a id="textSignout" onclick="signoutAPI()" class="click" href="/" style="display: none;">登出</a>
            <a id="textSignin" class="click" href="/login">登入</a>
        </div>

        <div class="searchbar">
            <input onkeydown="checkEnter(event)" onkeydown="checkEnter(event)" type="text" placeholder="搜尋電影名稱" id="searchText">
            <button onclick="search()" style="
            background: #efee96;border-radius: 0px 5px 5px 0px;border-width: 0px;">
            搜尋
            </button>
        </div>
  
    </nav>

    <div class="top">
        <div class="poster" id="poster"></div>
        <div class="brief">
            <div id="name_ZH" class="name"></div>
            <button class="favBTN" onclick="addFavorite()">加入收藏</button>     
            <div id="name_EN" class="name_EN"></div>
            <div>
                <p class="info" id="info"></p>
            </div>
        </div>
    </div>

    <hr class="hr2"></hr>

    <select name="movie_date" class="movie_date" id="movie_date" onchange="dateScreening()">
        <option id="today">選擇日期</option>
            <option id="0" value="0"></option>
            <option id="1" value="1"></option>
            <option id="2" value="2"></option>
            <option id="3" value="3"></option>
            <option id="4" value="4"></option>
    </select>

    <select name="movie_order" class="movie_date" id="movie_order" onchange="orderScreening()">
        <option id="order">依...排序</option>
            <option id="yahoo_index" value="">電影院</option>
            <option id="time" value="time">時間</option>
    </select>

    <div class=frame id=frame style="margin-top: 50px;"></div>

    <div class="bottom">
        Movie Lover
    </div>

</body>

<script type="text/javascript">
    let Today=new Date();
    let dayloop= new Date();

    let todayYear = Today.getFullYear();
    let todayMonth = ''+(Today.getMonth()+1);
    let todayDate = ''+(Today.getDate());
    if (todayMonth.length < 2){
        todayMonth = "0" + todayMonth;
    }
    if (todayDate.length < 2){
        todayDate = "0" + todayDate;
    }    

    function nowDate(){

        for (let i=0; i<5; i++){
            
            if (i==0){
                dayloop.setDate(dayloop.getDate() - 1);
              
            }
            dayloop.setDate(dayloop.getDate() + 1);
            
            let dayloopMonth = ''+(dayloop.getMonth()+1);
            let dayloopDate = ''+dayloop.getDate();
            if (dayloopMonth.length < 2){
                dayloopMonth = "0" + dayloopMonth;
            }
            if (dayloopDate.length < 2){
                dayloopDate = "0" + dayloopDate;
            }    
    
            let nowday = document.getElementById(i);
            nowday.value = (dayloopMonth)+'-'+(dayloopDate);
            let nowdaytext = document.createTextNode
            ((dayloopMonth)+'-'+(dayloopDate));
            
            nowday.appendChild(nowdaytext);
        }
        let today = document.getElementById('today');
        let loopday1 = document.getElementById('0');
        today.value = loopday1.value;
    }

    // let ambassador_id = "";
    let showtime_id = "";
    let page =  (window.location.href.split('/'));
    // let page = window.location.href.split('/m');
    let movie_name_ZH = '';
    let movie_name_EN = '';
    let poster_url = '';
    let release_date ='';
    function getMovie(){
        url=page[0]+'//'+page[2]+"/api/"+page[3]+'/'+page[4];
        fetch(url, {method:"GET"})
        .then((response) => {
            return response.json(); 
        })
        .then((data) => {
            console.log(data)
            let movies=data.data;
            poster_url = movies.poster_url;
            movie_name_ZH = movies.movie_name_ZH;
            movie_name_EN = movies.movie_name_EN;
            release_date = movies.release_date;
            let data_id = movies.index;

            let movie_info = movies.movie_info;

            let poster = document.getElementById("poster");
            let image = document.createElement('img');
            poster.appendChild(image);
            let objectURL = poster_url;
            image.src = objectURL;   

            let name_ZH = document.getElementById("name_ZH");
            let name_ZH_text = document.createTextNode(movie_name_ZH);
            name_ZH.appendChild(name_ZH_text);

            let name_EN = document.getElementById("name_EN");
            let name_EN_text = document.createTextNode(movie_name_EN);
            name_EN.appendChild(name_EN_text);

            let info = document.getElementById("info");
            let info_text = document.createTextNode(movie_info);
            info.appendChild(info_text);

            yahoo_id = movies.yahoo_id;
            ambassador_id = movies.ambassador_id;
            showtime_id = data.data.showtime_id;
            console.log(showtime_id);
        })
        .catch((err) => {
            console.log('錯誤:', err);
        });
        // console.log(showtime_id);
        getYahoo();
    }
    
    function getYahoo(){
        url=page[0]+'//'+page[2]+"/api/"+page[3]+'Screening/'+page[4]+'?date='+todayYear+'-'+todayMonth+'-'+todayDate;
        console.log(url);
        fetch(url, {method:"GET"})
        .then((response) => {
            return response.json(); 
        })
        .then((data) => {
            console.log(data.data);
            console.log(data.error);
            if (data.error == true){
                let data = document.getElementById('frame');
                let newDiv=document.createElement('div');
                data.appendChild(newDiv);
                newDiv.className = "error";
                
                let err = document.createTextNode("查無場次！");
                newDiv.appendChild(err);
            }
            else{
                // let frame = document.getElementById('frame');
                // let timeOrder = document.createElement('select');
                // frame.appendChild(timeOrder);
                // timeOrder.className ='movie_date';

                // let order = document.createElement('option');
                // let orderText = document.createTextNode('依...排序');
                // order.appendChild(orderText);
                // timeOrder.appendChild(order);

                // let theater = document.createElement('option');
                // let theaterText = document.createTextNode('電影院');
                // theater.appendChild(theaterText);
                // theater.id='theater';
                // theater.value='yahoo_index';
                // timeOrder.appendChild(theater);

                // let time = document.createElement('option');
                // let timeText = document.createTextNode('時間');
                // time.appendChild(timeText);
                // time.id='time';
                // time.value='time';
                // timeOrder.appendChild(time);

                let screenings = data.data;
                let dates = [];
                let theaters = [];
                let times = [];
                let types = [];
                for (let screening in screenings){
                    let date = screenings[screening].date;
                    let MonthDay = date.substr(5,5);
                    dates.push(MonthDay);
                    let theater = screenings[screening].theater;
                    theaters.push(theater);
                    let time = screenings[screening].time;
                    times.push(time);
                    let type = screenings[screening].type;
                    types.push(type);
                }

                let table = document.createElement('table');
                table.id = 'screening';
                let thead = document.createElement('thead');
                let tbody = document.createElement('tbody');

                table.appendChild(thead);
                table.appendChild(tbody);

                // Adding the entire table to the body tag
                document.getElementById('frame').appendChild(table);

                let row_1 = document.createElement('tr');
                let heading_1 = document.createElement('th');
                heading_1.innerHTML = "日期";
                let heading_2 = document.createElement('th');
                heading_2.innerHTML = "戲院";
                let heading_3 = document.createElement('th');
                heading_3.innerHTML = "時間";
                let heading_4 = document.createElement('th');
                heading_4.innerHTML = "類型";
                let heading_5 = document.createElement('th');
                heading_5.innerHTML = "加入行程";

                row_1.appendChild(heading_1);
                row_1.appendChild(heading_2);
                row_1.appendChild(heading_3);
                row_1.appendChild(heading_4);
                row_1.appendChild(heading_5);
                thead.appendChild(row_1);

                for (i=0 ; i<theaters.length ; i++){
                    let date = dates[i];
                    let theater = theaters[i];
                    let time = times[i];
                    let type = types[i];

                    let row_2 = document.createElement('tr');
                    let row_2_data_1 = document.createElement('td');
                    row_2_data_1.innerHTML = date;
                    let row_2_data_2 = document.createElement('td');
                    row_2_data_2.innerHTML = theater;
                    let row_2_data_3 = document.createElement('td');
                    row_2_data_3.innerHTML = time;
                    let row_2_data_4 = document.createElement('td');
                    row_2_data_4.innerHTML = type;
                    let row_2_data_5 = document.createElement('td');

                    row_2.appendChild(row_2_data_1);
                    row_2.appendChild(row_2_data_2);
                    row_2.appendChild(row_2_data_3);
                    row_2.appendChild(row_2_data_4);
        
                    let link = document.createElement('a');
                    let linkText = document.createTextNode("加入行事曆");
       
                    row_2.appendChild(row_2_data_5);
                    row_2_data_5.appendChild(link)
                    link.appendChild(linkText);
                    tbody.appendChild(row_2);

                    let movie = document.getElementById("name_ZH");
                    let nameText = movie.textContent;
                    let timeSplit = time.split(':');
                    let timeChange = '' + timeSplit[0]-8;
                    let timeAdd = '' + (timeChange + 2);
                    console.log(timeAdd);
              
                    if (timeChange < 10){
                        timeChange = '0' + (timeSplit[0]-8);
                    }
                    if (timeAdd < 10){
                        timeAdd = '0' + (timeAdd);
                    }
           
                    link.href= "https://calendar.google.com/calendar/u/0/r/eventedit?text=" + nameText + "&location=" + theater + "&dates=" + todayYear + todayMonth + todayDate +"T"+ timeChange + timeSplit[1] +"00.000Z/" + todayYear + todayMonth + todayDate +"T"+ timeAdd + timeSplit[1] +"00.000Z";
                }
            }
        })
        .catch((err) => {
            console.log('錯誤:', err);
        });
    }
    
    showtime_theater_id = [];

    // function getShowtime(){
    //     url = 'https://capi.showtimes.com.tw/1/events/listForProgram/'+10701+'?date=2022-05-21'
    //     fetch(url, {method:"GET"})
    //         .then((response) => {
    //             return response.json();
    //         })
    //         .then((data) =>{
    //             let theaterslist = data.payload;
    //             // console.log(data.payload.events);
    //             // console.log(data.payload.venues);
    //             for (let i in theaterslist.venues){
    //                 if (theaterslist.venues[i].name =="台北今日秀泰影城")
    //                 showtime_theater_id.push(theaterslist.venues[i].id);
    //             }
    //             // theaterslist[i].venueId
    //             for (let i in theaterslist.events){
    //                 if (theaterslist.events[i].venueId == 971){
    //                 console.log(theaterslist.events[i]);
    //                 console.log(theaterslist.events[i].startedAt);

    //                 let play = document.getElementById('intro');
    //                 let eachplay = document.createElement("div");
    //                 eachplay.className = 'getInfo';
    //                 let playtime = document.createTextNode('今日秀泰 '+ theaterslist.events[i].startedAt);
    //                 eachplay.appendChild(playtime);
    //                 play.append(eachplay);
    //                 }
    //             }
    //         })
    //         .catch((err) => {
    //             console.log('錯誤:', err);
    //         });
    // }

    function dateScreening(){
        let dateScreening = document.getElementById("movie_date").value;
        let order = document.getElementById("movie_order");
        url=page[0]+'//'+page[2]+"/api/"+page[3]+'Screening'+'/'+page[4]+'?date='+todayYear+'-'+dateScreening;

        if (dateScreening == '選擇日期'){
            return
        }
        order.selectedIndex  = 0;
        console.log(url);
        fetch(url, {method:"GET"})
        .then((response) => {
            return response.json(); 
        })
        .then((data) => {
            let element = document.getElementById('frame');
            while (element.hasChildNodes()) {
                element.removeChild(element.firstChild);
            }
            console.log(data.data);
            console.log(data.error);
            if (data.error == true){
                let data = document.getElementById('frame');
                let newDiv=document.createElement('div');
                data.appendChild(newDiv);
                newDiv.className = "error";
                
                let err = document.createTextNode("查無場次！");
                newDiv.appendChild(err);
            }
            else{
                let element = document.getElementById('frame');
                while (element.hasChildNodes()) {
                    element.removeChild(element.firstChild);
                }

                let screenings = data.data;
                let dates = [];
                let theaters = [];
                let times = [];
                let types = [];
                for (let screening in screenings){
                    let date = screenings[screening].date;
                    let MonthDay = date.substr(5,5);
                    dates.push(MonthDay);
                    let theater = screenings[screening].theater;
                    theaters.push(theater);
                    let time = screenings[screening].time;
                    times.push(time);
                    let type = screenings[screening].type;
                    types.push(type);
                }

                let table = document.createElement('table');
                table.id = 'screening';
                let thead = document.createElement('thead');
                let tbody = document.createElement('tbody');

                table.appendChild(thead);
                table.appendChild(tbody);

                // Adding the entire table to the body tag
                document.getElementById('frame').appendChild(table);

                let row_1 = document.createElement('tr');
                let heading_1 = document.createElement('th');
                heading_1.innerHTML = "日期";
                let heading_2 = document.createElement('th');
                heading_2.innerHTML = "戲院";
                let heading_3 = document.createElement('th');
                heading_3.innerHTML = "時間";
                let heading_4 = document.createElement('th');
                heading_4.innerHTML = "類型";
                let heading_5 = document.createElement('th');
                heading_5.innerHTML = "加入行程";

                row_1.appendChild(heading_1);
                row_1.appendChild(heading_2);
                row_1.appendChild(heading_3);
                row_1.appendChild(heading_4);
                row_1.appendChild(heading_5);
                thead.appendChild(row_1);

                for (i=0 ; i<theaters.length ; i++){
                    // let data=document.getElementById('frame');
                    // let newDiv=document.createElement('p');
                    // data.appendChild(newDiv);
                    // newDiv.className = "screening"
                    let date = dates[i];
                    let theater = theaters[i];
                    let time = times[i];
                    let type = types[i];

                    // let dateText = document.createTextNode(date+" "+theater+" "+time+" "+type+" ");
                    // newDiv.appendChild(dateText);
                    let row_2 = document.createElement('tr');
                    let row_2_data_1 = document.createElement('td');
                    row_2_data_1.innerHTML = date;
                    let row_2_data_2 = document.createElement('td');
                    row_2_data_2.innerHTML = theater;
                    let row_2_data_3 = document.createElement('td');
                    row_2_data_3.innerHTML = time;
                    let row_2_data_4 = document.createElement('td');
                    row_2_data_4.innerHTML = type;
                    let row_2_data_5 = document.createElement('td');

                    let link = document.createElement('a');
                    let linkText = document.createTextNode("加入行事曆");

                    row_2.appendChild(row_2_data_1);
                    row_2.appendChild(row_2_data_2);
                    row_2.appendChild(row_2_data_3);
                    row_2.appendChild(row_2_data_4);

                    row_2.appendChild(row_2_data_5);
                    row_2_data_5.appendChild(link)
                    link.appendChild(linkText);
                    tbody.appendChild(row_2);

                    let dateSplit = date.split('-');

                    let movie = document.getElementById("name_ZH");
                    let nameText = movie.textContent;
                    
                    // newDiv.appendChild(link);
                    // link.appendChild(linkText);
                    let timeSplit = time.split(':');
                    let timeChange = '' + timeSplit[0]-8;
                    let timeAdd = '' + (timeChange + 2);
                    console.log(timeAdd);
              
                    if (timeChange < 10){
                        timeChange = '0' + (timeSplit[0]-8);
                    }
                    if (timeAdd < 10){
                        timeAdd = '0' + (timeAdd);
                    }
           
                    link.href= "https://calendar.google.com/calendar/u/0/r/eventedit?text=" + nameText + "&location=" + theater + "&dates=" + todayYear + dateSplit[0] + dateSplit[1] +"T"+ timeChange + timeSplit[1] +"00.000Z/" + todayYear + dateSplit[0] + dateSplit[1]+"T"+ timeAdd + timeSplit[1] +"00.000Z";

                }
            }
        })
        .catch((err) => {
            console.log('錯誤:', err);
        });

    }

    function orderScreening(){
        let date = document.getElementById("movie_date").value;
        let order = document.getElementById("movie_order").value;
        console.log(order)
        url=page[0]+'//'+page[2]+"/api/"+page[3]+'Screening'+'/'+page[4]+'?date='+todayYear+'-'+date+'&time='+order;

        if (dateScreening == '依...排序'){
            return
        }
        console.log(url);
        fetch(url, {method:"GET"})
        .then((response) => {
            return response.json(); 
        })
        .then((data) => {
            let element = document.getElementById('frame');
            while (element.hasChildNodes()) {
                element.removeChild(element.firstChild);
            }
            console.log(data.data);
            
            if (data.error == true){
                let data = document.getElementById('frame');
                let newDiv=document.createElement('div');
                data.appendChild(newDiv);
                newDiv.className = "error";
                
                let err = document.createTextNode("查無場次！");
                newDiv.appendChild(err);
            }
            else{
                let element = document.getElementById('frame');
                while (element.hasChildNodes()) {
                    element.removeChild(element.firstChild);
                }

                let screenings = data.data;
                let dates = [];
                let theaters = [];
                let times = [];
                let types = [];
                for (let screening in screenings){
                    let date = screenings[screening].date;
                    let MonthDay = date.substr(5,5);
                    dates.push(MonthDay);
                    let theater = screenings[screening].theater;
                    theaters.push(theater);
                    let time = screenings[screening].time;
                    times.push(time);
                    let type = screenings[screening].type;
                    types.push(type);
                }

                let table = document.createElement('table');
                table.id = 'screening';
                let thead = document.createElement('thead');
                let tbody = document.createElement('tbody');

                table.appendChild(thead);
                table.appendChild(tbody);

                // Adding the entire table to the body tag
                document.getElementById('frame').appendChild(table);

                let row_1 = document.createElement('tr');
                let heading_1 = document.createElement('th');
                heading_1.innerHTML = "日期";
                let heading_2 = document.createElement('th');
                heading_2.innerHTML = "戲院";
                let heading_3 = document.createElement('th');
                heading_3.innerHTML = "時間";
                let heading_4 = document.createElement('th');
                heading_4.innerHTML = "類型";
                let heading_5 = document.createElement('th');
                heading_5.innerHTML = "加入行程";

                row_1.appendChild(heading_1);
                row_1.appendChild(heading_2);
                row_1.appendChild(heading_3);
                row_1.appendChild(heading_4);
                row_1.appendChild(heading_5);
                thead.appendChild(row_1);

                for (i=0 ; i<theaters.length ; i++){
                    let date = dates[i];
                    let theater = theaters[i];
                    let time = times[i];
                    let type = types[i];

                    let row_2 = document.createElement('tr');
                    let row_2_data_1 = document.createElement('td');
                    row_2_data_1.innerHTML = date;
                    let row_2_data_2 = document.createElement('td');
                    row_2_data_2.innerHTML = theater;
                    let row_2_data_3 = document.createElement('td');
                    row_2_data_3.innerHTML = time;
                    let row_2_data_4 = document.createElement('td');
                    row_2_data_4.innerHTML = type;
                    let row_2_data_5 = document.createElement('td');

                    row_2.appendChild(row_2_data_1);
                    row_2.appendChild(row_2_data_2);
                    row_2.appendChild(row_2_data_3);
                    row_2.appendChild(row_2_data_4);

                    let link = document.createElement('a');
                    let linkText = document.createTextNode("加入行事曆");
                    
                    row_2.appendChild(row_2_data_5);
                    row_2_data_5.appendChild(link)
                    link.appendChild(linkText);
                    tbody.appendChild(row_2);

                    let dateSplit =date.split('-');

                    let movie = document.getElementById("name_ZH");
                    let nameText = movie.textContent;
                    let timeSplit = time.split(':');
                    let timeChange = '' + timeSplit[0]-8;
                    let timeAdd = '' + (timeChange + 2);
                    console.log(timeAdd);
              
                    if (timeChange < 10){
                        timeChange = '0' + (timeSplit[0]-8);
                    }
                    if (timeAdd < 10){
                        timeAdd = '0' + (timeAdd);
                    }
           
                    link.href= "https://calendar.google.com/calendar/u/0/r/eventedit?text=" + nameText + "&location=" + theater + "&dates=" + todayYear + dateSplit[0] + dateSplit[1] +"T"+ timeChange + timeSplit[1] +"00.000Z/" + todayYear + dateSplit[0] + dateSplit[1] +"T"+ timeAdd + timeSplit[1] +"00.000Z";

                }
            }
                })
                .catch((err) => {
                    console.log('錯誤:', err);
                });
    }

    function addFavorite(){
        url="/api/member"
        fetch(url, {method: 'GET'})
        .then((response) => {
            console.log(response);
            return response.json(); 
        })
        .then((jsonData) => {
            if (jsonData.data == null){
                window.location.href = '/login';
            }
            else{
                url='/api/favorite'
                fetch(url, {
                    body:JSON.stringify({
                        "movie_name_ZH":movie_name_ZH,
                        "movie_name_EN":movie_name_EN,
                        'poster_url':poster_url,
                        'release_date':release_date
                    }),
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    method:'POST'
                })
                .then((response) => {
                    return response.json(); 
                })
                .then((jsonData) => {
                    if (jsonData.ok==true){
                        alert('已成功收藏')
                    }
                    else{
                        alert('已經在收藏內')
                    }
            })
            .catch((err) => {
                console.log('錯誤:', err);
            });
        }
        })
        .catch((err) => {
            console.log('錯誤:', err);
        });
    }

    function checkEnter(event) {
        if (event.keyCode === 13) {
            search();
        }
    }

    function search(){
        let searchText=document.getElementById("searchText").value;
        window.location.href="/search?keyword="+searchText;
    }

    function checkAPI(){
        url="/api/member"
        fetch(url, {method: 'GET'})
        .then((response) => {
            console.log(response);
            return response.json(); 
        })
        .then((jsonData) => {
        if (jsonData.data != null){
            textSignin.style.display = "none";
            textSignout.style.display = "block";
            favorite.style.display = 'block';
        }
        })
        .catch((err) => {
            console.log('錯誤:', err);
        });
    }
    
    function signoutAPI(){
        url="/api/member"
        fetch(url, {method: 'DELETE'})
        .then((response) => {
            console.log(response);
            return response.json(); 
        })
        .then((jsonData) => {
            if (jsonData.ok == true){
                window.location.href="/";
            }

        })
        .catch((err) => {
            console.log('錯誤:', err);
        });
    }

</script>

</html>